body {
  width: 100%;
  background: #fff;
}

h1 {
  font-size: 100px;
}

.top_bar {
  background: #212934;
  padding: 15px 0;
  font-size: 11px;
}
.top_bar .center {
  display: flex;
  justify-content: space-between;
}
.top_bar a {
  color: #cfd6e1;
  font-size: 11px;
}
.top_bar a,
.top_bar i {
  margin-right: 3px;
}
.top_bar em {
  font-style: normal;
}
.top_bar ul {
  display: flex;
}
.top_bar ul i.fa {
  font-size: 13px;
  margin: 0 0 0 10px;
}

header {
  box-shadow: 0 0 5px #ccc;
  padding: 20px 0;
  transition: all 0.4s;
  position: relative;
}
header .menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
header.stick {
  padding: 12px 0;
  background: #fff;
  z-index: 999;
}
header.stick .logo a {
  font-size: 35px;
  transition: all 0.4s;
}
header.stick .gnb {
  font-size: 16px;
}
header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  color: #59ab6e;
  font-size: 40px;
  font-weight: 500;
}
header .gnb {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.4s;
  width: 70%;
}
header .gnb li {
  margin: 0 50px;
}
header .gnb li a {
  color: #212934;
}
header .login_info {
  display: flex;
  align-items: center;
}
header .login_info a {
  padding: 0 15px;
  color: #212934;
  font-weight: 400;
}
header .login_info a:nth-child(2) {
  border-left: 1px solid #212934;
}
header .login_info a:nth-child(3) {
  width: 30px;
  height: 30px;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
}
header .login_info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile_menu {
  width: 40px;
  height: 30px;
  padding: 5px;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #fff;
  display: none;
}
.mobile_menu span {
  width: 100%;
  height: 2px;
  background: #59ab6e;
  transition: all 0.4s;
}
.mobile_menu span:nth-child(2) {
  width: 50%;
}
.mobile_menu span:nth-child(3) {
  width: 75%;
}
.mobile_menu:hover span {
  width: 100%;
}
.mobile_menu.on {
  border: 2px solid #59ab6e;
}
.mobile_menu.on span {
  width: 100%;
}

.mobile_menu .slider {
  width: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0;
}
.mobile_menu .slider .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile_menu .slider .center .slider_img {
  height: 60vh;
}
.mobile_menu .slider .center .slider_img img {
  height: 100%;
}
.mobile_menu .slider .slider_txt h2 {
  font-size: 50px;
  font-weight: 100;
}
.mobile_menu .slider .slider_txt h4 {
  font-size: 30px;
  font-weight: 300;
}
.mobile_menu .slider .slider_txt p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

.slider {
  width: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0;
}
.slider .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider .center .slider_img {
  height: 60vh;
}
.slider .center .slider_img img {
  height: 100%;
}
.slider .slider_txt h2 {
  font-size: 50px;
  font-weight: 100;
}
.slider .slider_txt h4 {
  font-size: 30px;
  font-weight: 300;
}
.slider .slider_txt p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

/* Categories Section Style Code */
.categories .cate_box {
  width: 100%;
  height: auto;
  display: flex;
}
.categories .cate_box .cate_item {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.categories .cate_box .cate_item h3 {
  font-size: 18px;
  margin: 15px 0;
}
.categories .cate_box .cate_item a {
  background: #59ab6e;
  color: #fff;
  padding: 12px 35px;
}
.categories .cate_box .cate_img {
  width: 80%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #efefef;
}
.categories .cate_box .cate_img img {
  width: 100%;
}

footer {
  background: #212934;
  color: #cfd6e1;
  width: 100%;
  height: auto;
  padding: 80px 0 0 0;
}
footer .sub_menus {
  display: flex;
}
footer .sub_menus > div {
  width: 33.33%;
}
footer ul {
  padding: 20px 0;
}
footer a {
  color: #cfd6e1;
  line-height: 2em;
  font-size: 16px;
  font-weight: 300;
}
footer a i {
  margin-right: 10px;
}
footer h3 {
  font-size: 30px;
  font-weight: 500;
  color: #cfd6e1;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #2d343f;
}
footer > .center div.shop h3 {
  color: #59ab6e;
}
footer .company_info {
  background: #1d242d;
}
footer .company_info p {
  font-size: 16px;
  font-weight: 300;
  padding: 20px 0;
}

section.join .form_box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.join .form_box .mem_form,
section.join .form_box .login_form {
  background: #efefef;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;
}
section.join .form_box .mem_form p,
section.join .form_box .login_form p {
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
}
section.join .form_box .mem_form p:first-child input,
section.join .form_box .login_form p:first-child input {
  width: calc(50% - 10px);
}
section.join .form_box .mem_form p:first-child button,
section.join .form_box .login_form p:first-child button {
  width: 20%;
  background: #59ab6e;
  color: #fff;
}
section.join .form_box .mem_form p.login:first-child input,
section.join .form_box .login_form p.login:first-child input {
  width: calc(70% - 5px);
}
section.join .form_box .mem_form label,
section.join .form_box .login_form label {
  width: 30%;
  padding: 10px 20px;
  background: #59ab6e;
  color: #fff;
  text-align: center;
}
section.join .form_box .mem_form input,
section.join .form_box .login_form input {
  width: calc(70% - 5px);
}
section.join .form_box .mem_form .submit_info,
section.join .form_box .login_form .submit_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #ddd;
}
section.join .form_box .mem_form .submit_info button,
section.join .form_box .login_form .submit_info button {
  background: #59ab6e;
  color: #fff;
  padding: 10px 30px;
}
section.join .form_box .mem_form .submit_info span,
section.join .form_box .login_form .submit_info span {
  color: #555;
}
section.join .form_box .mem_form .submit_info span a,
section.join .form_box .login_form .submit_info span a {
  display: inline-block;
  padding: 10px 20px;
  background: #59ab6e;
  color: #fff;
}

.featured {
  background: #e9eef5;
}
.featured .item_frame {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 8px #ccc;
}
.featured .featured_img {
  border: 1px solid #efefef;
  height: auto;
  overflow: hidden;
}
.featured .featured_box {
  width: 100%;
  height: auto;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.featured .featured_box .featured_item {
  width: 33.33%;
  padding: 20px;
}
.featured .featured_box .featured_item em {
  font-size: 12px;
  color: #777;
}
.featured .featured_box .featured_item img {
  width: 100%;
}
.like_unlike {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.like_unlike span {
  border: 1px solid #eee;
  padding: 5px 10px;
  font-size: 11px;
  margin: 0 2px;
  cursor: pointer;
}

.featured .featured_txt {
  width: 100%;
  color: #212529;
}
.featured .featured_txt h3 {
  font-size: 18px;
  font-weight: 400;
}
.featured .featured_txt p {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 300;
}
.featured .load_more {
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
}
.featured .load_more button,
.featured .load_more a {
  background: #59ab6e;
  color: #fff;
  padding: 10px 50px;
}

.pro_insert {
  background: #e9eef5;
}
.pro_insert .detail_contents {
  display: flex;
  justify-content: space-between;
}
.pro_insert .detail_contents .detail_img {
  width: 40%;
  padding: 10px;
  border: 1px solid #ddd;
}
.pro_insert .detail_contents .detail_img img {
  width: 100%;
}
.pro_insert .detail_tab_btns {
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
}
.pro_insert .detail_tab_btns span {
  width: 40px;
  height: 40px;
  background: #59ab6e;
  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer;
  overflow: hidden;
}
.pro_insert .detail_tab_btns span img {
  width: 100%;
}
.pro_insert .detail_txt {
  width: calc(60% - 20px);
  height: auto;
  border: 1px solid #ddd;
  padding: 10px;
}
.pro_insert .detail_wrap {
  background: #fff;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pro_insert .detail_wrap h2 {
  font-weight: 400;
  font-size: 25px;
}
.pro_insert .detail_wrap h3 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
.pro_insert .detail_wrap p {
  margin: 10px 0;
}
.pro_insert .detail_wrap .like_unlike {
  justify-content: flex-start;
  padding: 0;
}
.pro_insert .detail_wrap .gray {
  color: #999;
}
.pro_insert .detail_wrap .size_quan .size {
  display: flex;
}
.pro_insert .detail_wrap .size_quan p {
  margin-right: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.pro_insert .detail_wrap .size_quan p b {
  font-size: 12px;
}
.pro_insert .detail_wrap .size_quan p span {
  width: 30px;
  height: 30px;
  background: #59ab6e;
  display: flex;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 14px;
}
.pro_insert .detail_btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.pro_insert .detail_btns button {
  width: calc(50% - 5px);
  padding: 10px 0;
  background: #59ab6e;
  color: #fff;
  border-radius: 5px;
}

.comments .comments_tit {
  width: 100%;
  height: auto;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
}
.comments .comment_insert {
  margin-top: 10px;
  padding: 10px 10px 10px 0;
}
.comments .comment_insert form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
}
.comments .comment_insert form button {
  background: #59ab6e;
  color: #fff;
  padding: 0 30px;
  margin: 3px;
}
.comments .comment_insert textarea {
  width: 80%;
  height: 100%;
}
.comments .comment_insert textarea::-moz-placeholder {
  color: #999;
}
.comments .comment_insert textarea:-ms-input-placeholder {
  color: #999;
}
.comments .comment_insert textarea::placeholder {
  color: #999;
}
.comments .comment_insert textarea::-webkit-scrollbar {
  display: none;
}
.comments .comment_contents {
  margin-top: 50px;
  padding: 10px 0;
}
.comments .comment_contents .comments_tit {
  border-bottom: 0;
}
.comments .comment_contents .comment_text {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.comments .comment_contents .comment_text button {
  background: #59ab6e;
  color: #fff;
  padding: 5px 15px;
}
.comments .comment_contents .comment_text button.rev_send {
  display: none;
}
.comments .comment_contents .comment_text textarea {
  width: 80%;
  border: 1px solid #ccc;
  display: none;
}
.comments .loop_contents {
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

.community .comm_center {
  width: 80%;
  margin: auto;
}
.community .comm_table {
  background: #efefef;
  padding: 20px;
  border-radius: 10px;
}
.community .comm_table li {
  padding: 8px;
  display: flex;
}
.community .comm_table li span {
  text-align: center;
}
.community .comm_table li span:nth-child(1) {
  width: 10%;
}
.community .comm_table li span:nth-child(2) {
  width: 15%;
}
.community .comm_table li span:nth-child(3) {
  width: 50%;
}
.community .comm_table li span:nth-child(4) {
  width: 15%;
}
.community .comm_table li span:nth-child(5) {
  width: 10%;
}
.community .comm_table li.comm_tit {
  background: #59ab6e;
  color: #fff;
}
.community .comm_table li.comm_con {
  border-bottom: 1px solid #fff;
}
.community .comm_table li.comm_con span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.community .comm_table li.comm_con span:nth-child(3) {
  justify-content: flex-start;
  padding-left: 15px;
}
.community .search_paging {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0 auto;
}
.community .paging {
  display: flex;
}
.community .paging span {
  width: 30px;
  height: 30px;
  background: #59ab6e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #59ab6e;
}
.community .paging span.num {
  background: #fff;
  color: #59ab6e;
  font-size: 14px;
}
.community .search_form {
  display: flex;
}
.community .search_form select {
  border: 1px solid #59ab6e;
  background: #59ab6e;
  color: #fff;
  outline: 0;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  height: 30px;
}
.community .search_form input {
  border: 1px solid #59ab6e;
  margin: 0 3px;
  height: 30px;
}
.community .search_form button {
  font-size: 20px;
  color: #fff;
  background: #59ab6e;
  border: 1px solid #59ab6e;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
}
.community .write {
  margin-top: 50px;
}
.community .write h4 {
  font-size: 16px;
  margin: 10px 20px 10px 0;
  color: #777;
  font-weight: 400;
  border-left: 3px solid #59ab6e;
  padding-left: 20px;
}
.community .write_form {
  background: #efefef;
  padding: 20px;
  border-radius: 10px;
}
.community .write_tit {
  display: flex;
  justify-content: space-between;
}
.community .write_tit label {
  width: 20%;
  background: #59ab6e;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}
.community .write_tit input {
  width: calc(80% - 5px);
}
.community .write_con {
  width: 100%;
  margin-top: 5px;
}
.community .write_con textarea {
  width: 100%;
  height: 150px;
}
.community .write_con textarea::-moz-placeholder {
  color: #ccc;
}
.community .write_con textarea:-ms-input-placeholder {
  color: #ccc;
}
.community .write_con textarea::placeholder {
  color: #ccc;
}
.community .write_btn {
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
}
.community .write_btn button {
  background: #59ab6e;
  color: #fff;
  padding: 8px 25px;
  border-radius: 5px;
}