.top_bar {
  background: $sub-color;
  padding: 15px 0;
  font-size: 11px;

  .center {
    @include flex($jc: space-between);
  }
  a {
    color: $font-color;
    font-size: 11px;
  }
  a,
  i {
    margin-right: 3px;
  }
  em {
    font-style: normal;
  }
  ul {
    display: flex;
    i {
      &.fa {
        font-size: 13px;
        margin: 0 0 0 10px;
      }
    }
  }
}
header {
  box-shadow: 0 0 5px #ccc;
  padding: 20px 0;
  transition: all 0.4s;
  .menu_items {
    @include flex($jc: space-between, $ai: center);
    width: 85%;
    // display: none;
  }
  &.stick {
    padding: 12px 0;
    background: $main-color;
    z-index: 999;
    .logo a {
      font-size: 35px;
      transition: all 0.4s;
    }
    .gnb {
      font-size: 16px;
    }
  }
  .center {
    @include flex($jc: space-between, $ai: center);
  }
  .logo {
    a {
      color: $point-color;
      font: {
        size: 40px;
        weight: 500;
      }
    }
  }
  .gnb {
    @include flex($jc: center);
    font: {
      size: 16px;
      weight: 300;
    }
    transition: all 0.4s;
    width: 70%;
    li {
      margin: 0 50px;
      a {
        color: $sub-color;
      }
    }
  }
  .login_info {
    @include flex($ai: center);
    a {
      padding: 0 15px;
      color: $sub-color;
      font-weight: 400;
      &:nth-child(2) {
        border-left: 1px solid $sub-color;
      }
      &:nth-child(3) {
        @include size($w: 30px, $h: 30px, $p: 0);
        overflow: hidden;
        border-radius: 50%;
      }
    }
    img {
      @include size($w: 100%, $h: 100%);
      object-fit: cover;
    }
  }
}
.mobile_menu {
  @include size($w: 40px, $h: 30px, $p: 5px);
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $main-color;
  display: none;
  span {
    width: 100%;
    height: 2px;
    background: $point-color;
    transition: all 0.4s;
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 75%;
    }
  }
  &:hover span {
    width: 100%;
  }

  &.on {
    border: 2px solid $point-color;
    span {
      width: 100%;
    }
  }
}
.mobile_menu .slider {
  width: 100%;
  // height: 60vh;
  background: $gradient;
  padding: 0;
  .center {
    @include flex($jc: space-between, $ai: center);
    // max-width: 100%;
    .slider_img {
      height: 60vh;
      img {
        height: 100%;
      }
    }
  }
  .slider_txt {
    h2 {
      font-size: 50px;
      font-weight: 100;
    }
    h4 {
      font-size: 30px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      margin-top: 15px;
    }
  }
}
