$main-color: #fff;
$point-color: #59ab6e;
$sub-color: #212934;
$font-color: #cfd6e1;
$footer-color: #212934;
$footer-linecolor: #2d343f;

$gradient: linear-gradient(
  to left,
  rgba(255, 255, 255, 0.15) 0%,
  rgba(255, 255, 255, 0) 100%
);

@mixin flex($jc: null, $ai: null) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w: null, $h: null, $p: null, $m: null) {
  width: $w;
  height: $h;
  padding: $p;
  margin: $m;
}

body {
  width: 100%;
  background: $main-color;
}
h1 {
  font-size: 100px;
}

//top
// header style code
@import "header";

// mobile menu icon style

.slider {
  width: 100%;
  // height: 60vh;
  background: $gradient;
  padding: 0;
  .center {
    @include flex($jc: space-between, $ai: center);
    // max-width: 100%;
    .slider_img {
      height: 60vh;
      img {
        height: 100%;
      }
    }
  }
  .slider_txt {
    h2 {
      font-size: 50px;
      font-weight: 100;
    }
    h4 {
      font-size: 30px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      margin-top: 15px;
    }
  }
}

/* Categories Section Style Code */
.categories {
  .cate_box {
    @include size($w: 100%, $h: auto);
    display: flex;
    // justify-content: center;
    .cate_item {
      width: 33.33%;
      // text-align: center;
      @include flex($ai: center);
      flex-direction: column;
      h3 {
        font-size: 18px;
        margin: 15px 0;
      }
      a {
        background: $point-color;
        color: $main-color;
        padding: 12px 35px;
      }
    }
    .cate_img {
      width: 80%;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #efefef;
      img {
        width: 100%;
      }
    }
  }
}

// Footer Section Style Code
footer {
  background: $footer-color;
  color: $font-color;
  @include size($w: 100%, $h: auto, $p: 80px 0 0 0);

  .sub_menus {
    display: flex;
    & > div {
      width: 33.33%;
    }
  }

  ul {
    padding: 20px 0;
  }
  a {
    color: $font-color;
    line-height: 2em;
    font: {
      size: 16px;
      weight: 300;
    }
    i {
      margin-right: 10px;
    }
  }
  h3 {
    font: {
      size: 30px;
      weight: 500;
    }
    color: $font-color;
    padding: 0 0 20px 0;
    border-bottom: 1px solid $footer-linecolor;
  }
  & > .center div.shop h3 {
    color: $point-color;
  }
  .company_info {
    background: #1d242d;
    p {
      font: {
        size: 16px;
        weight: 300;
      }
      padding: 20px 0;
      // max-width: 1230px;
      // width: 100%;
      // margin: auto;
    }
  }
}

// Join Page Style Code
section.join {
  .form_box {
    @include size($w: 100%, $h: auto);
    @include flex($jc: center, $ai: center);
    .mem_form,
    .login_form {
      background: #efefef;
      @include size($w: 50%, $p: 20px);
      border-radius: 10px;
      box-shadow: 0 0 3px #ccc;

      p {
        @include size($w: 100%, $h: auto, $m: 0 0 5px 0);
        @include flex($jc: space-between);
        &:first-child {
          input {
            width: calc(50% - 10px);
          }
          button {
            width: 20%;
            background: $point-color;
            color: $main-color;
          }
        }
        &.login:first-child {
          input {
            width: calc(70% - 5px);
          }
        }
      }

      label {
        @include size($w: 30%, $p: 10px 20px);
        background: $point-color;
        color: $main-color;
        text-align: center;
      }
      input {
        width: calc(70% - 5px);
      }
      .submit_info {
        @include flex($jc: space-between, $ai: center);
        @include size($p: 10px 0 0 0, $m: 20px 0 0 0);
        // padding: 10px 0 0 0;
        border-top: 1px solid #ddd;
        // margin-top: 20px;
        button {
          background: $point-color;
          color: $main-color;
          padding: 10px 30px;
        }
        span {
          color: #555;
          a {
            display: inline-block;
            padding: 10px 20px;
            background: $point-color;
            color: $main-color;
          }
        }
      }
    }
  }
}
.featured {
  background: #e9eef5;
  .item_frame {
    background: $main-color;
    padding: 10px;
    box-shadow: 0 0 8px #ccc;
  }
  .featured_img {
    border: 1px solid #efefef;
    height: auto;
    overflow: hidden;
  }
  .featured_box {
    @include size($w: 100%, $h: auto, $m: 30px 0);
    @include flex();
    flex-wrap: wrap;
    .featured_item {
      @include size($w: 33.33%, $p: 20px);
      em {
        font-size: 12px;
        color: #777;
      }
      img {
        width: 100%;
      }
    }
  }
  @at-root .like_unlike {
    @include size($w: 100%, $h: auto, $p: 10px 0);
    @include flex($jc: space-between);
    span {
      border: 1px solid #eee;
      padding: 5px 10px;
      font-size: 11px;
      margin: 0 2px;
      cursor: pointer;

      // &:nth-child(1) {
      //   background: $point-color;
      //   color: $main-color;
      // }
      // &:nth-child(2) {
      // background: lightcoral;
      // color: $main-color;
      // }
    }
  }
  .featured_txt {
    width: 100%;
    color: #212529;

    h3 {
      font: {
        size: 18px;
        weight: 400;
      }
    }
    p {
      padding: 10px 0;
      font: {
        size: 14px;
        weight: 300;
      }
    }
  }
  .load_more {
    @include size($w: 100%, $h: auto, $p: 20px 0);
    text-align: center;
    button,
    a {
      background: $point-color;
      color: $main-color;
      padding: 10px 50px;
    }
  }
}

// Product Detail Page style code
.pro_insert {
  background: #e9eef5;
  .detail_contents {
    display: flex;
    justify-content: space-between;
    .detail_img {
      @include size($p: 10px, $w: 40%);
      border: 1px solid #ddd;
      img {
        width: 100%;
      }
    }
  }
  .detail_tab_btns {
    width: 100%;
    height: auto;
    padding-top: 10px;
    display: flex;
    span {
      width: 40px;
      height: 40px;
      background: #59ab6e;
      border: 1px solid #ddd;
      margin-right: 5px;
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .detail_txt {
    width: calc(60% - 20px);
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
  }
  .detail_wrap {
    background: #fff;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-weight: 400;
      font-size: 25px;
    }
    h3 {
      font-weight: 400;
      font-size: 20px;
      margin-top: 20px;
    }
    p {
      margin: 10px 0;
    }
    .like_unlike {
      justify-content: flex-start;
      padding: 0;
    }
    .gray {
      color: #999;
    }
    .size_quan {
      .size {
        display: flex;
      }
      p {
        margin-right: 20px;
        font-size: 18px;
        display: flex;
        align-items: center;

        b {
          font-size: 12px;
        }

        span {
          width: 30px;
          height: 30px;
          background: $point-color;
          display: flex;
          color: #fff;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          margin: 0 5px;
          font-size: 14px;
        }
      }
    }
  }
  .detail_btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;

    button {
      width: calc(50% - 5px);
      padding: 10px 0;
      background: $point-color;
      color: #fff;
      border-radius: 5px;
    }
  }
}

// Detail page Comments Section Style Code
.comments {
  .comments_tit {
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid#ddd;
  }
  .comment_insert {
    margin-top: 10px;
    padding: 10px 10px 10px 0;
    // border-bottom: 1px solid#ddd;
    form {
      display: flex;
      justify-content: space-between;
      border: 1px solid#ddd;

      button {
        background: $point-color;
        color: #fff;
        padding: 0 30px;
        margin: 3px;
      }
    }
    textarea {
      font-size: 14px;
      font-family: "Roboto", "Noto Sans KR", sans-serif;
      width: 80%;
      height: 100%;
      &::placeholder {
        color: #999;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .comment_contents {
    margin-top: 50px;
    padding: 10px 0;
    .comments_tit {
      border-bottom: 0;
    }
    .comment_text {
      // width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      button {
        background: $point-color;
        color: #fff;
        padding: 5px 15px;
        font-family: "Roboto", "Noto Sans KR", sans-serif;

        &.rev_send {
          display: none;
        }
      }
      // form {
      //   width: 80%;
      // }
      textarea {
        width: 80%;
        font-family: "Roboto", "Noto Sans KR", sans-serif;
        font-size: 14px;
        border: 1px solid #ccc;
        display: none;
      }
    }
  }
  .loop_contents {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
  }
}

.community {
  .comm_table {
    width: 80%;
    margin: auto;
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
    li {
      padding: 8px;
      display: flex;
      span {
        text-align: center;
      }
      span:nth-child(1) {
        width: 10%;
      }
      span:nth-child(2) {
        width: 15%;
      }
      span:nth-child(3) {
        width: 50%;
      }
      span:nth-child(4) {
        width: 15%;
      }
      span:nth-child(5) {
        width: 10%;
      }

      &.comm_tit {
        background: $point-color;
        color: $main-color;
      }
      &.comm_con {
        border-bottom: 1px solid #fff;
      }
      &.comm_con span:nth-child(3) {
        text-align: left;
        padding-left: 15px;
      }
    }
  }
}
