$main-color: #fff;
$point-color: #59ab6e;
$sub-color: #212934;
$font-color: #cfd6e1;
$footer-color: #212934;
$footer-linecolor: #2d343f;

$gradient: linear-gradient(
  to left,
  rgba(255, 255, 255, 0.15) 0%,
  rgba(255, 255, 255, 0) 100%
);

@mixin flex($jc: null, $ai: null) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w: null, $h: null, $p: null, $m: null) {
  width: $w;
  height: $h;
  padding: $p;
  margin: $m;
}
@mixin font($s: null, $w: null, $c: null) {
  font: {
    size: $s;
    weight: $w;
  }
  color: $c;
}
body {
  width: 100%;
  background: $main-color;
}
h1 {
  font-size: 100px;
}

//top
/*header style code*/
@import "header";

/*mobile menu icon style*/
.slider {
  width: 100%;
  // height: 60vh;
  background: $gradient;
  padding: 0;
  .center {
    @include flex($jc: space-between, $ai: center);
    // max-width: 100%;
    .slider_img {
      height: 60vh;
      img {
        height: 100%;
      }
    }
  }
  .slider_txt {
    h2 {
      @include font($s: 50px, $w: 100);
    }
    h4 {
      @include font($s: 30px, $w: 300);
    }
    p {
      @include font($s: 18px, $w: 300);
      margin-top: 15px;
    }
  }
}

/* Categories Section Style Code */
.categories {
  .cate_box {
    @include size($w: 100%, $h: auto);
    display: flex;
    // justify-content: center;
    .cate_item {
      width: 33.33%;
      // text-align: center;
      @include flex($ai: center);
      flex-direction: column;
      h3 {
        font-size: 18px;
        margin: 15px 0;
      }
      a {
        background: $point-color;
        color: $main-color;
        padding: 12px 35px;
      }
    }
    .cate_img {
      width: 80%;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #efefef;
      img {
        width: 100%;
      }
    }
  }
}
/*Footer Section Style Code*/
@import "footer";

/*Join Page Style Code*/
@import "join";

/*Featured section Style Code*/
.featured {
  background: #e9eef5;
}
.item_frame {
  background: $main-color;
  padding: 10px;
  box-shadow: 0 0 8px #ccc;
}
.featured_img {
  border: 1px solid #efefef;
  height: auto;
  overflow: hidden;
}

.load_more {
  @include size($w: 100%, $h: auto, $p: 20px 0);
  text-align: center;
  button,
  a {
    background: $point-color;
    color: $main-color;
    padding: 10px 50px;
  }
}
.featured_box {
  @include size($w: 100%, $h: auto, $m: 30px 0);
  @include flex();
  flex-wrap: wrap;
  .featured_item {
    @include size($w: 33.33%, $p: 20px);
    em {
      @include font($s: 12px, $c: #777);
    }
    img {
      width: 100%;
    }
  }
}
.like_unlike {
  @include size($w: 100%, $h: auto, $p: 10px 0);
  @include flex($jc: space-between);
  span {
    border: 1px solid #eee;
    padding: 5px 10px;
    font-size: 11px;
    margin: 0 2px;
    cursor: pointer;
  }
}
.featured_txt {
  width: 100%;
  color: #212529;
  h3 {
    @include font($s: 18px, $w: 400);
  }
  p {
    padding: 10px 0;
    @include font($s: 14px, $w: 300);
  }
}

/*Product Detail Page style code*/
@import "product_detial";

/*community Page style code*/
@import "community";

.shop {
  .shop_btns {
    @include size($w: 100%, $h: auto, $p: 15px 0);
    @include flex($jc: space-between);
    border-bottom: 1px solid #eee;
    a {
      background: $point-color;
      color: $main-color;
      border-radius: 5px;
      padding: 10px 25px;
      display: inline-block;
      border: 1px solid $point-color;
      &.active {
        background: #fff;
        color: $point-color;
      }
    }
  }
}
