$main-color: #fff;
$point-color: #59ab6e;
$sub-color: #212934;
$font-color: #cfd6e1;
$footer-color: #212934;
$footer-linecolor: #2d343f;

$gradient: linear-gradient(
  to left,
  rgba(255, 255, 255, 0.15) 0%,
  rgba(255, 255, 255, 0) 100%
);

@mixin flex($jc: null, $ai: null) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w: null, $h: null, $p: null, $m: null) {
  width: $w;
  height: $h;
  padding: $p;
  margin: $m;
}
@mixin font($s: null, $w: null, $c: null) {
  font: {
    size: $s;
    weight: $w;
  }
  color: $c;
}
body {
  width: 100%;
  background: $main-color;
}
h1 {
  font-size: 100px;
}

//top
/*header style code*/
@import "header";

/*mobile menu icon style*/
.slider {
  width: 100%;
  // height: 60vh;
  background: $gradient;
  padding: 0;
  .center {
    @include flex($jc: space-between, $ai: center);
    // max-width: 100%;
    .slider_img {
      height: 60vh;
      img {
        height: 100%;
      }
    }
  }
  .slider_txt {
    h2 {
      @include font($s: 50px, $w: 100);
    }
    h4 {
      @include font($s: 30px, $w: 300);
    }
    p {
      @include font($s: 18px, $w: 300);
      margin-top: 15px;
    }
  }
}

/* Categories Section Style Code */
.categories {
  .cate_box {
    @include size($w: 100%, $h: auto);
    display: flex;
    // justify-content: center;
    .cate_item {
      width: 33.33%;
      // text-align: center;
      @include flex($ai: center);
      flex-direction: column;
      h3 {
        font-size: 18px;
        margin: 15px 0;
      }
      a {
        background: $point-color;
        color: $main-color;
        padding: 12px 35px;
      }
    }
    .cate_img {
      width: 80%;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #efefef;
      img {
        width: 100%;
      }
    }
  }
}
/*Footer Section Style Code*/
@import "footer";

/*Join Page Style Code*/
@import "join";

/*Featured section Style Code*/
.featured {
  background: #e9eef5;
}
.item_frame {
  background: $main-color;
  padding: 10px;
  box-shadow: 0 0 8px #ccc;
}
.featured_img {
  border: 1px solid #efefef;
  height: auto;
  overflow: hidden;
}

.load_more {
  @include size($w: 100%, $h: auto, $p: 20px 0);
  text-align: center;
  button,
  a {
    background: $point-color;
    color: $main-color;
    padding: 10px 50px;
  }
}
.featured_box {
  @include size($w: 100%, $h: auto, $m: 30px 0);
  @include flex();
  flex-wrap: wrap;
  .featured_item {
    @include size($w: 33.33%, $p: 20px);
    em {
      @include font($s: 12px, $c: #777);
    }
    img {
      width: 100%;
    }
  }
}
.like_unlike {
  @include size($w: 100%, $h: auto, $p: 10px 0);
  @include flex($jc: space-between);
  span {
    border: 1px solid #eee;
    padding: 5px 10px;
    font-size: 11px;
    margin: 0 2px;
    cursor: pointer;
  }
}
.featured_txt {
  width: 100%;
  color: #212529;
  h3 {
    @include font($s: 18px, $w: 400);
  }
  p {
    padding: 10px 0;
    @include font($s: 14px, $w: 300);
  }
}

/*Product Detail Page style code*/
@import "product_detial";

/*community Page style code*/
@import "community";

.shop {
  .shop_btns {
    @include size($w: 100%, $h: auto, $p: 15px 0);
    @include flex($jc: space-between);
    border-bottom: 1px solid #eee;
    a {
      background: $point-color;
      color: $main-color;
      border-radius: 5px;
      padding: 10px 25px;
      display: inline-block;
      border: 1px solid $point-color;
      &.active {
        background: #fff;
        color: $point-color;
      }
    }
    & > div {
      width: 50%;
      &.filters {
        @include flex($jc: flex-end, $ai: center);
        .search {
          @include flex($ai: center);
        }
        select {
          background: $point-color;
          color: #fff;
          height: 100%;
          padding: 10px;
          border: 0;
          border-radius: 5px;
        }
        input {
          border: 1px solid #ccc;
          margin-left: 5px;
          height: 35px;
          &:focus {
            border: 1px solid $point-color;
          }
        }
        button {
          @include size($w: 40px, $h: 35px, $m: 0 0 0 5px);
          @include flex($jc: center, $ai: center);
          font-size: 16px;
          border: 1px solid $point-color;
          background: $point-color;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}

/* shop search page style code */
.pro_search {
  .tit_box {
    border-bottom: 1px solid #eee;
  }
  .search_lists {
    padding: 10px;
  }
  .search_item {
    display: flex;
    border-bottom: 1px solid #eee;
  }
  span {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.search_img {
      padding: 10px;
    }
    img {
      width: 80%;
    }
    &.search_txt {
      width: 40%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      h2 {
        font-weight: 400;
        color: #555;
      }
      p {
        font-weight: 300;
        color: #555;
        margin-top: 10px;
      }
      .show_hide {
        display: none;
      }
      &.search_pri {
        i {
          font-size: 20px;
          color: $point-color;
        }
        h3 {
          color: #555;
        }
      }
    }
    &.search_btns {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        width: 80%;
        margin: 5px 0;
        background: $point-color;
        color: #fff;
        border-radius: 3px;
      }
    }
  }
  .total_pri {
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: right;
  }
}

.admin {
  .input_controll {
    position: relative;
  }
  .admin_tabs {
    width: 100%;
    height: auto;
    text-align: center;
    button {
      background: $point-color;
      color: #fff;
    }
  }
  .admin_panels {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .pro_admin {
    width: 100%;
    height: auto;
    background: #efefef;
    padding: 10px;
  }
  .pro_insert_form {
    display: flex;
    flex-direction: column;
  }
  .category {
    display: flex;
    em {
      background: $point-color;
      color: #fff;
      padding: 5px 10px;
    }
    select {
      border: 1px solid $point-color;
      padding: 5px;
      margin-left: 5px;
      outline: 0;
    }
  }
  .short_txt {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    p {
      width: calc(25% - 2px);
      display: flex;
      justify-content: space-between;
      label {
        background: $point-color;
        color: #fff;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input {
        width: calc(70% - 5px);
        border: 1px solid $point-color;
      }
    }
  }
  .desc_input {
    margin-top: 5px;
    width: 100%;
    height: 150px;
    border: 1px solid $point-color;
    textarea {
      width: 100%;
      height: 100%;
    }
  }
  .img_input {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
    .upload_box {
      width: calc(50% - 2.5px);
    }
  }
  .upload_name {
    width: 100%;
    border: 1px solid $point-color;
  }
  .input_img_tit {
    width: 100%;
    height: auto;
    padding: 10px 0;
    text-align: center;
    border: 1px solid $point-color;
    color: #fff;
    background: $point-color;
    display: block;
    margin-top: 5px;
    transition: all 0.4s;
    &:hover {
      background: #fff;
      color: $point-color;
    }
  }
  .upload_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
  }
  .img_wrap {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid $point-color;
    margin-top: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .pro_insert_btn {
    margin-top: 5px;
    background: $point-color;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid $point-color;
    transition: all 0.4s;
    &:hover {
      background: #fff;
      color: $point-color;
    }
  }
  .mem_admin {
    width: 100%;
    height: auto;
    background: #efefef;
    padding: 10px;
    .mem_admin_tit {
      display: flex;
      background: $point-color;
      color: #fff;
      width: 100%;
      padding: 10px;
      align-items: center;
    }
    .mem_admin_con {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid $point-color;
      // & > span:nth-child(5)
      // & > span:nth-child(6)
    }
    .mem_admin_form {
      // width: 100%;
      // display: flex;
    }
    ul li span {
      text-align: center;
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 25%;
      }
      &:nth-child(5) {
        width: 15%;
        input {
          text-align: center;
          width: 80%;
          padding: 5px 0;
          border: 1px solid $point-color;
        }
      }
      &:nth-child(6) {
        width: 15%;
        button {
          background: $point-color;
          color: #fff;
          padding: 5px 20px;
          font-size: 12px;
        }
      }
    }
  }
  .select_del_btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      background: $point-color;
      color: #fff;
      padding: 8px 20px;
    }
  }
}
